## DATA STRUCTURES
 ** DICTIONARIES
     ** TUPLES

# DICTIONARIES
** it works on concept of set unquie data
** keys,values is the unquie identifier for a value
** each key is separated from its value with colon(:)
** each key and value is separated by comma(,)
dictionaries enclosed with curly braces({})
### TUPLES:
** t1 paraenthesis() li square brackets[]
** difference between list and tuples
**list are mutable - can be changed/modified
-->used to access modifu,add,delete data
**tuples are immutable - cannot be changed
-->used to access data only

In [1]:
d1 ={"name":"satya","emailid":"satyapavanip@gmail.com","address":"hyd"}
print(d1)

{'name': 'satya', 'emailid': 'satyapavanip@gmail.com', 'address': 'hyd'}

In [11]:
d1["name"]

'satya'

In [6]:
d1["emailid"]="gitam.python@gmail.com"
print(d1["emailid"])

gitam.python@gmail.com

In [9]:
del d1["emailid"]

KeyError: 'emailid'

In [10]:
d1.keys()#returns the list of j=keys

dict_keys(['name', 'address'])

In [13]:
d1.values() #returns the value

dict_values(['satya', 'hyd'])

In [14]:
d1.items()# the list of tuples of keys and values

dict_items([('name', 'satya'), ('address', 'hyd')])

In [17]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

# ## contact appliction
** add contact
** search the contact
** list all contacts
    * name1: phone 1
    * name 2: phone 2
    ** modify the contact
    ** remove the contact
    ** import the contact

In [18]:
# add contact 
contacts = {}# creating a dic object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact is details are added")
    else:â€‹addcontact("satya","9100164195")
        print("contact details are already exists")
    return
addcontact("satya","9100164195")
addcontact("mani","9195153992")

contact is details are added
contact is details are added

In [21]:
# search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchcontact("satya")
searchcontact("mani")
searchcontact("santhu")

satya : 9100164195
mani : 9195153992
santhu does not exists

In [24]:
# import some contacts
# merge the contacts with existing one
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added success")
    return
newcontacts={'pandhu':9988776655,'arvind':44556677889}
importcontacts(newcontacts)

2 contacts added success

In [25]:
contacts

{'satya': '9100164195',
 'mani': '9195153992',
 'pandhu': 9988776655,
 'arvind': 44556677889}

In [31]:
# delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('satya')

satya deleted successfully

In [41]:
# update the contact details
def deletecontact2(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact2('pandhu',9988776655)
deletecontact2('mahi',445566778899)

pandhu updated successfully
mahi not exists

# ASSIGNMENT QUESTIONS

In [3]:
def generateseries(n):
   a=1
   b=3
   c=4
   print(a)
   print(b)
   for i in range(n):
       sum=a+b+c
       a=b
       b=c
       c=sum
       print(sum)
   return
generateseries(10)

1
3
8
15
27
50
92
169
311
572
1052
1935

In [1]:
def reverseFibonacci(n): 
   a = [0] * n  
   a[0] = 0 
   a[1] = 1
   for i in range(2, n):   
       a[i] = a[i - 2] + a[i - 1]  
   for i in range(n - 1, -1 , -1):   
       print(a[i],end=" ")  
n = 5 
reverseFibonacci(n)

3 2 1 1 0

In [2]:
s1 = ["good morning"]
a = "good"
b = "morning"
if len(a) >= len(b):
   print("good")
else:
   print("morning")

morning

In [3]:
def threepow(n):
   for i in range(n):
       k = 3 ** i
       print(k)
   return 
threepow(15)

1
3
9
27
81
243
729
2187
6561
19683
59049
177147
531441
1594323
4782969

In [24]:
def twopow(n):
   for i in range(n):
       k=2**i
       print(k)
   return
twopow(10)

1
2
4
8
16
32
64
128
256
512

1
3
9
27
81
243
729
2187
6561
19683
59049
177147
531441
1594323
4782969

In [5]:
def series(n):
   m=2
   for i in range(n):
       r=13*i+m
       print(r,end=" ")
       m=r
   return
series(10)
13

2 15 41 80 132 197 275 366 470 587

13

In [ ]:

def series(n):
   m=2
   for i in range(n):
       r=13*i+m
       print(r,end=" ")
       m=r
   return
series(10)
 #1! + 2! + 3! + 4! + 5! + ... + n!
n=int(input("enter n value"))
for x in range(1,n):
    print(x,"!+",end=" ")

2 15 41 80 132 197 275 366 470 587